<footer class="bg-gray-100">
  <div class="mx-auto max-w-5xl px-4 py-5 sm:px-6 lg:px-8">
    <div class="flex justify-center text-teal-600">
      <a routerLink="/">
        <img src="1.png" alt="" class="h-30">
      </a>
    </div>

    <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500">
      ¡Únete a la diversión y sigue todos nuestros torneos!
      Juntos hacemos crecer el deporte en nuestra región.
    </p>

    <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" routerLink="/about-us"> Sobre nosotros </a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" routerLink="/eventos"> Eventos </a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" routerLink="/clasificaciones"> Clasificaciones </a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" routerLink="/arbitros"> Arbitros </a>
      </li>

      <li>
        <a class="text-gray-700 transition hover:text-gray-700/75" routerLink="/ganadores"> Ganadores </a>
      </li>

    </ul>

    <ul class="mt-12 flex justify-center gap-6 md:gap-8">
      <li>
        <a routerLink="#" rel="noreferrer" target="_blank" class="hover:drop-shadow-2xl drop-shadow-amber-100 text-gray-700 transition hover:text-gray-700/75">
          <span class="sr-only">Facebook</span>

          <img src="facebook.svg" alt="">
        </a>
      </li>

      <li>
        <a routerLink="#" rel="noreferrer" target="_blank" class="hover:drop-shadow-2xl drop-shadow-amber-100 text-gray-700 transition hover:text-gray-700/75">
          <span class="sr-only">Instagram</span>

          <img src="instagram.svg" alt="">
        </a>
      </li>

      <li>
        <a routerLink="#" rel="noreferrer" target="_blank" class="hover:drop-shadow-2xl drop-shadow-amber-100 text-gray-700 transition hover:text-gray-700/75">
          <span class="sr-only">Twitter</span>

          <img src="x.svg" alt="">
        </a>
      </li>

      <li>
        <a routerLink="#" rel="noreferrer" target="_blank" class="hover:drop-shadow-2xl drop-shadow-amber-100 text-gray-700 transition hover:text-gray-700/75">
          <span class="sr-only">GitHub</span>

          <img src="github.svg" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>