<section class="max-w-screen-xl mx-auto px-4 py-8">
  <div class="mb-6">
    <iframe
      class="w-full h-[400px] sm:h-[500px]"
      [src]="videoActual"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div class="relative">
    <button
      (click)="scrollPrev()"
      class="absolute left-0 top-1/2 -translate-y-1/2 bg-gray-800 text-white p-5 rounded z-10"
    >
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>

    <div #carrusel class="flex gap-4 overflow-hidden">
      <iframe
        *ngFor="let url of urls"
        (click)="seleccionarVideo(url)"
        class="w-64 h-36 flex-shrink-0 cursor-pointer hover:scale-105 transition-transform"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(url)"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <button
      (click)="scrollNext()"
      class="absolute right-0 top-1/2 -translate-y-1/2 bg-gray-800 text-white p-5 rounded z-10"
    >
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
</section>
