<header-component />
<main>
  <div class="h-full">
    <hero-component
      [title]="'Somos Kids League'"
      [subtitulo]="
        'una organización dedicada a la promoción y desarrollo del fútbol regional. Nuestro equipo está compuesto por apasionados del deporte y educadores experimentados que comparten la visión de fomentar valores y habilidades en los jugadores a través del futbol.'
      "
      [enlace1]="
        'https://wa.me/573134277875?text=Hola%20quisiera%20saber%20más%20información%20sobre%20la%20KidsLeague%F0%9F%A4%A9'
      "
      [desc_enlace1]="'Contáctanos'"
      [icon_enlace1]="'fa fa-phone'"
      [enlace2]="'about-us'"
      [desc_enlace2]="'Sobre Nosotros'"
      [image]="'1.png'"
    ></hero-component>
  </div>
</main>

<equipo-desarrollo-component />
<metas-component/>
<vision-component/>

<footer-component />
